@charset "UTF-8";
/* CSS Document */

html {
	background-color:#fff;
}

* {
	margin:0px;
	padding:0px;
}

body {
	font-family:Lato, Verdana, Geneva, sans-serif;
	font-size:80%;
	
}

p {
	margin-bottom:12px;
}

.term {
	font-weight:normal;
	font-size:150%;
	color:#fff;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
	margin-bottom:5px;
}
	
.tit {
	margin-top:0px;
	font-weight:bold;
	color:#970635;
	border-top:2px solid #970635;
	padding-top:6px;
	margin-bottom:0;
}
.tit-indent {
	margin-top:0px;
	font-weight:bold;
	color:#970635;
	padding-top:2px;
	margin-bottom:0;
}

.aut {
	font-weight:bold;
	font-style:italic;
	color:#000;
	margin-bottom:2px;
}

.det {
	font-weight:normal;
	color:#000;
	margin-bottom:3px;
}

.bib {
	font-size:90%;
	font-weight:normal;
	color:#000;
	margin-bottom:3px;
}

.course-spacer {
	padding:10px;
}

img {
	width:70%;
}
		
.container {
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	background-color:#fff;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:400px;
	box-sizing:border-box;
}

@media screen and (max-width: 480px) {
	.container {
		padding-left:20px;
		padding-right:20px;
		margin-top:10px;
	}	
}

.title-container {
	width:1200px;
	height:110px;
	background-color:#e23b30;
	}
	
.bannerlogo {
	width:25%;
	float:left;
	padding-top:10px;
	padding-left:15px;
	box-sizing:border-box;
	}
	
.bannersubhead {
	width:50%;
	float:left;
	padding-top:45px;
	box-sizing:border-box;
	}
	
@media screen and (max-width: 760px) {
	.bannerlogo img {
		width:60%;
		padding-top:10px;
		padding-left:15px;
	}
	
	.bannersubhead img {
		width:50%;
		padding-top:10px;
	}
}
	
@media screen and (max-width: 400px) {
	.title-container, .bannerlogo, .bannersubhead {
		width:auto;
		float:none;
	}
	
	.hide-small {
		display:none;
	}
}

.sub-banner {
	width:1200px;
	height:30px;
	background-color:#888919;
	margin-top:10px;
}

.seminars {
	background-color:#970635;
	
}

@media screen and (max-width: 400px) {
	.sub-banner {
		width:auto;
		}
}
	
header {
	padding-top:15px;
	color:#900;	
}

header h1 {
	font-weight:normal;
	font-size:160%;
}

header p {
	font-weight:normal;
	color:#666;
}

.page-content {
	max-width:1160px;
	margin-left:auto;
	margin-right:auto;
	padding-left:30px;
	box-sizing:border-box;
}

@media screen and (max-width: 400px) {
	.page-content {
		padding-left:0;
		}
}

	
/* Start Horizantal Nav with Dropdown menus */
/* ===================================================== */

.mainnav {
	max-width:1200px;
	margin-top:10px;
	margin-bottom:10px;
	}

.mainnav ul {
	display:block;
	list-style:none;
	}
	
.mainnav ul li {
	float:left;
	position:relative;
	background-color:#2c3e50;
	width:170px;
	margin-right:5px;
	margin-bottom:5px;
	border-radius:5px;
	line-height:10px;
	box-sizing:border-box;
	} 

.mainnav .current {
	background-color:#888919;
	border-radius:5px;
}
	
.mainnav ul li a {
	display:block;
	color:#fff;
	text-decoration:none;
	padding:10px;
	font-size:12px;
	line-height:14px;
	word-spacing:4px;
	-webkit-transition:0.3s ease-out;
	-moz-transition:0.3s ease-out;
	-ms-transition:0.3s ease-out;
	-o-transition:0.3s ease-out;
	transition:0.3s ease-out;
	}

.mainnav ul li dfn {
	color:#F90;
	}
	
.mainnav ul li:hover > a {
	color:#3498DB;
	}

.mainnav ul li.active > a {
	color:#2980b9;
	}
	
/* Submenu */
.mainnav ul li > ul {
	position:absolute;
	width:170px;
	z-index:-9999;
	opacity:0;
	-webkit-transition:0.3s ease-out;
	-moz-transition:0.3s ease-out;
	-ms-transition:0.3s ease-out;
	-o-transition:0.3s ease-out;
	transition:0.3s ease-out;
	}
	
.mainnav ul li:hover > ul {
	display:block;
	z-index:100;
	opacity:1;
	-webkit-transition:0.3s ease-out;
	-moz-transition:0.3s ease-out;
	-ms-transition:0.3s ease-out;
	-o-transition:0.3s ease-out;
	transition:0.3s ease-out;
	}
	

.mainnav ul li > ul li {
	padding:0px;
	width:100%;
	border-radius:0px;
	border-top:2px solid #fff;
	background-color:#C90;
	margin-bottom:0px;
	box-sizing:border-box;
	}

.mainnav ul li > ul li a {
	display:block;
	font-size:12px;
	}

.mainnav ul li > ul li:hover > a {
	display:block;
	color:#fff;
	background:#FC0;
	}
	
.mainnav ul li > ul li:active > a {
	color:#fff;
	background:#3498DB;
	}

/* Sub Submenu */
	
.mainnav ul li > ul li > ul {
	border-left:2px solid #fff;
	top:-2px;
	left:100%;
	width:100%;
	}

.mainnav ul li > ul li > ul a {
	color:#fff;
	background-color:#39C;
	}	

/* Start of three-column content area */
/* ===================================================== */

.col-area {
	width:100%;
	}
	
.col1 {
	width:18%;
	float:left;
	background-color:#3CF;
	margin-right:30px;
	border-radius:5px;
	padding:8px;
	box-sizing:border-box;
	}

.box {
	background-color:#C36;
	}
	
.col1 h1 {
	color:#fff;
	border-bottom:2px solid #fff;
	padding-bottom:5px;
	margin-bottom:5px;
	}
	
.col1 h2 {
	color:#fff;
	font-weight:300;
	margin-bottom:5px;
	}
	
.col1 p a {
	color:#fff;
	text-decoration:none;
	}
	
.col1 p a:hover {
	color:#e23b30;
	text-decoration:none;
	}
			
.col2 {
	width:50%;
	float:left;
	margin-right:30px;
	box-sizing:border-box;
	}

.col2 ul {
	padding-left:20px;
	padding-bottom:10px;
	}	

.col2 ul li {
	padding-bottom:5px;
	}
			
.col2 li em {
	color:#f3c;
	}
	
.col2 li dfn {
	color:#09f;
	}

.col2 p dfn {
	color:#09f;
	}

.col2 a {
	color:#069;
	text-decoration:none;
	}

.col2 a:hover {
	color:#C33;
	}
	
.col3 {
	width:18%;
	float:left;
	background-color:#CCC;
	margin-right:30px;
	border-radius:5px;
	padding:8px;
	box-sizing:border-box;
	}
	
.col3 p {
	color:#666;
	font-weight:300;
	font-size:16px;
	}

.col3 img {
	width:60%;
	padding-bottom:10px;
	}
	
.col3 p dfn {
	font-weight:800;
	font-size:12px;
	}

@media screen and (max-width: 700px) {
	.col-area {
	width:auto;
	float:none;
	}
	
	.col1, .col2, .col3 {
	width:auto;
	float:none;
	margin-top:15px;
	}
	
	.col3 img {
	width:20%;
	padding-bottom:10px;
	}
}	
	
@media screen and (max-width: 400px) {
	.col1, .col2, .col3 {
	width:auto;
	float:none;
	margin-top:30px;
	margin-right:0;
	}
	
	.col2, .col3 {
	width:auto;
	float:none;
	}
	
	.col3 img {
	width:40%;
	padding-bottom:10px;
	}
}	
	
/* End of three-column content area */
/* ===================================================== */



/* Start Grid System */
/* ============================== */	
.row {
	margin-right:-10px;
	margin-top:15px;
	}

.col {
	float:left;
	width:100%;
	padding-right:10px;
	padding-bottom:10px;
	box-sizing:border-box;
	}
	

.col-lg-11 {width:91.662%;}
.col-lg-10 {width:83.332%;}
.col-lg-9 {width:75%;}
.col-lg-8 {width:66.662%;}
.col-lg-7 {width:58.331%;}
.col-lg-6 {width:50%;}
.col-lg-5 {width:41.662%;}
.col-lg-4 {width:33.332%;}
.col-lg-3 {width:25%;}
.col-lg-2 {width:16.662%;}
.col-lg-1 {width:8.332%;}


@media screen and (max-width:1024px) {
	.col-md-11 {width:91.662%;}
	.col-md-10 {width:83.332%;}
	.col-md-9 {width:75%;}
	.col-md-8 {width:66.662%;}
	.col-md-7 {width:58.331%;}
	.col-md-6 {width:50%;}
	.col-md-5 {width:41.662%;}
	.col-md-4 {width:33.332%;}
	.col-md-3 {width:25%;}
	.col-md-2 {width:16.662%;}
	.col-md-1 {width:8.332%;}
}

@media screen and (max-width:768px) {
	.col-sm-11 {width:91.662%;}
	.col-sm-10 {width:83.332%;}
	.col-sm-9 {width:75%;}
	.col-sm-8 {width:66.662%;}
	.col-sm-7 {width:58.331%;}
	.col-sm-6 {width:50%;}
	.col-sm-5 {width:41.662%;}
	.col-sm-4 {width:33.332%;}
	.col-sm-3 {width:25%;}
	.col-sm-2 {width:16.662%;}
	.col-sm-1 {width:8.332%;}
}

@media screen and (max-width:480px) {
	.col-xs-11 {width:91.662%;}
	.col-xs-10 {width:83.332%;}
	.col-xs-9 {width:75%;}
	.col-xs-8 {width:66.662%;}
	.col-xs-7 {width:58.331%;}
	.col-xs-6 {width:50%;}
	.col-xs-5 {width:41.662%;}
	.col-xs-4 {width:33.332%;}
	.col-xs-3 {width:25%;}
	.col-xs-2 {width:16.662%;}
	.col-xs-1 {width:8.332%;}

	.col {
	padding-bottom:0px;
	box-sizing:border-box;
	}
}

/* End Grid System */
/* ============================== */	
	
/* Clearfix Method */
/* =============== */

.fix {
	clear: both;
}
	
.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.row:after,
.group:after {
	clear: both;
}

.row,
.group {
	zoom: 1;
}

/* /End Clearfix Method */
/* ==================== */



/* Start Reveal and Hide Styles */
/* ============================ */

.menu {
	text-decoration:none;
	padding-top:10px;
	color:#083b5e;
}
.menu:hover {
	color:#e41207;
}

.toggle-btn {
	display:none;
}

@media screen and (max-width: 400px) {
	.toggle-btn-visible {
	display:block;
	}
	.toggle-target-hidden {
	display:none;
	}
	.toggle-target-expanded {
	display:block;
	}
	
}

/* End Reveal and Hide Styles */
/* ========================== */

/* End Horizantal Nav with Dropdown menus */
/* ===================================================== */

footer {
	 color:#888919;
	 padding-top:10px;
	 padding-bottom:10px;
	 margin-top:20px;
}
	
footer p {
	 font-size:80%;
	 margin-bottom:5px;
}
	
