/* Start of Footer */
/* ===================================================== */

footer {
	 color:#888919;
	 padding-top:10px;
	 padding-bottom:10px;
	 margin-top:20px;
}
	
footer p {
	 font-size:80%;
	 margin-bottom:5px;
}